//========COLORS========//

$link-active: #4737ff;
$link-unactive: #9a9ea6;

$heading: #181e4b;
$desc: #5e6282;

$primary: #4475f2;
$primary-light: #4475f2;

$placeholder: #9c9c9c;
$border: #dedede;

$black-color: #000000;
$white-color: #ffffff;